* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
}
.App {
	background: linear-gradient(to right top, #f8f8f8, #575757);
	height: 100vh;
}

h2 {
	color: black;
	margin-top: 5px;
}

.incorrect {
	border: 1.5px solid black;
	width: 100%;
	font-size: 1.8vw;
	font-weight: bolder;
	background-color: #d8d8d8;
	color: red;
}
.correct {
	border: 1.5px solid black;
	width: 100%;
	font-size: 1.8vw;
	font-weight: bolder;
	background-color: #d8d8d8;
}

input[type="number"]:disabled {
	background-color: #d8d8d8;
	opacity: 1;
}

@media (max-width: 1024px) {
	.incorrect {
		font-size: 4.5vw;
	}
	.correct {
		font-size: 4.5vw;
	}
}
