* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
}
.App {
	background: linear-gradient(to right top, #f8f8f8, #575757);
	/* background: cover; */
	height: 100vh;
}

h2 {
	color: black;
	margin-top: 5px;
}

/* #outer {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.incorrect {
	border: 1.5px solid black;
	width: 100%;
	font-size: 1.8vw;
	font-weight: bolder;
	background-color: #d8d8d8;
	color: red;
}
.correct {
	border: 1.5px solid black;
	width: 100%;
	font-size: 1.8vw;
	font-weight: bolder;
	background-color: #d8d8d8;
}
